body {
    background: #8784ee;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Open Sans';
    background: linear-gradient(-60deg, #8784ee 50%, rgba(0, 0, 0, 0.4) 30%), url('../img/assign-researcher.jpg');
}
.assign-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}
.form-assign {
    font-size: 15px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px;
}
.cancel {
    position: relative !important;
    left: 10px;
}
.pure-button {
    background-color: #8784ee !important;
    color: white !important;
    display: inline-block !important;
    width: 150px !important;
}
.assign {
    position: relative !important;
    float: left;
    left: 90px;
}
.form-title {
    color: #8784ee;
}